* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-anchor: none;
}

.react-terminal-wrapper {
  height: 100%;
  border: 1px solid #2f3136;
  border-radius: 0px !important;
}

.react-terminal-window-buttons {
  visibility: hidden;
}

.react-terminal-wrapper::after {
  background-color: #2f3136 !important;
  top: 0 !important;
  color: white !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

@media screen and (max-width: 800px) {
  .react-terminal-wrapper {
    height: 15rem;
  }
}
